image:
  repository: ghcr.io/codelicia/turbo-enigma
  pullPolicy: Always
  tag: 0.1.0   # use a release tag (https://github.com/codelicia/turbo-enigma/tags)
# tag: main    # latest changes from git branch
# tag: "pr:33" # use the pull request number 33

slack:
  avatarUrl: "https://avatars.githubusercontent.com/u/46966179?s=200&v=4"
  message: "New Merge Request Created"
  username: "codelicia/turbo-enigma"
  webhookUrl: http://slack-webhook.localhost

notificationRules:
  - channel: "#enabling-team"
    labels: ["Enabling Team"]
  - channel: "#open-source"
    labels: ["Codelicia"]
  - channel: "#turbo-enigma"
    labels: ["just-testing"]

reactionRules:
  - action: "approved"
    reaction: "thumbsup"
  - action: "merged"
    reaction: "white_tick"

service:
  nodePort: 30000 # used when ingress is disabled

ingress:
  enabled: true
  path: /turbo-enigma
  host: localhost
  tls:
    enabled: false
    secretName: todo
  annotations: ~
